{% extends "aplicacion/index.html" %}
{% load static %}


{% block Body %}
<header class="mastheadconsultas">

    <div class="container-calendar">
        <!-- Google Calendar Appointment Scheduling begin -->
        <iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ0_8Hg5PZ0tJfW9HA49v9Z3xPfAcnIs3IOTitaeEuPahOtcz_U5jMC1gpURyH_DxPIPKIZLBG08?gv=true" style="height: 87vh;width: 100%;border: 0;display: block;background-color:#f8f9fa;border-radius: 0.700rem;" frameborder="0"></iframe>
        <!-- end Google Calendar Appointment Scheduling -->
    </div>
</header>


{% endblock Body %}